

@mixin font-face($name, $file, $weight:600) {
  @font-face {
    font-family: $name;
    font-display: auto;
    src: url($path-font + $file);
    font-style: normal;
    font-weight: $weight;
  }
}

@include font-face($icons-font, "icomoon/icons.ttf");

@include font-face($main-font-family, "Roboto/Roboto-Regular.ttf");
