$main-font: $typography-font-headline-1-family;
$main-font-family:$typography-font-body-family;
$h1-font-size:$typography-font-headline-1-size;
$icons-font: 'icons';
$path-font: '~demo-design-token/web/assets/fonts/'